html {
  -webkit-app-region: drag;
  height: calc(100% - (2px * 2));
  width:  calc(100% - (2px * 2));
}

body{
  margin: 0;
  height: 100%;
  width:  100%;
}

body *{
  font-family: 'Geo', sans-serif;
  transition: 0.8s ease-in-out;
}

.wrapper.white{
  background-color: #ffffff;
}

.wrapper.black{
  background-color: #212121;
}

main{
  max-width: 1440px;
  margin: 0 auto;
  height: 100vh;
}

.square{
  position: relative;
  height: 50px;
  width: 50px;
  float: left;
  box-sizing: border-box;
  padding: 5px;
}

.white .square{
  background-color: #f0f0f0;
  border: solid 1px white;
}

.black .square{
  background-color: #1c1c1c;
  border: solid 1px #212121;
}


[data-num]:after{
  content: attr(data-num);
  position: absolute;
  left: 3px;
  top: 0px;
  color: #b9b9b9;
}

.stone{
  position: relative;
  height: 100%;
  width: 100%;
  border-radius: 24px;
  transform: rotateY(90deg);
  transform-style: preserve-3d;
  perspective: 300px;
  transition: 0.2s ease;
}

.stone:before, .stone:after{
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 19px;
}

.stone:before{
  background-color: #212121;
  transform: translateZ(1px);
}

.white .stone:before{
  transform: translateZ(1px) scale(0.95);
}

.stone:after{
  background-color: #fafafa;
  transform: translateZ(-1px);
}

.black .stone:after{
  transform: translateZ(-1px) scale(1.05);
}

#othello{
  position: absolute;
  left: calc(50% - 200px);
  top: calc(50% - 200px);
  width: 400px;
  height: 400px;
  
}

.wrapper{
  position: relative;
  height: 100vh;
  width: 100vw;
}

.available{
  cursor: crosshair;
}

.available:before{
  content: "";
  position: absolute;
  left: calc(50% - 23px);
  top: calc(50% - 23px);
  height: 46px;
  width: 46px;
  box-sizing: border-box;
  border: solid 1px #ffffff;
  animation: availablePanel infinite ease 0.8s;
}

.white .available:before{
  border: solid 1px #212121;
}

@keyframes availablePanel{
  0%{
    transform: scale(1);
    opacity: 1;
  }
  
  100%{
    transform: scale(0.8);
    opacity: 0;
  }
}
